.search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}
.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
#search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 18px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}
#search-input::-webkit-search-cancel-button {
  appearance: none;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}
.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;
}
.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}
.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all 0.2s ease-in-out;
}
.search-option div span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}
.search-option div:hover span {
  opacity: 1;
  top: -21px;
}
.search-option div label {
  display: block;
  cursor: pointer;
}
.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
.search-option div:hover svg {
  opacity: 1;
}
.search-option div input:checked + label svg {
  fill: #e24040;
  opacity: 0.9;
}
.search-option div input:checked + label span {
  background: #e24040;
}
.search-option div input:checked + label span::after {
  border-top-color: #e24040;
}
.searchList{
  position: relative;
  top: 80%;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  overflow: hidden;
  z-index: 2;
}
.searchList li{
  display: block;
  position: relative;
  width: 150px;
  height: 35px;
  font-family: 'Malgun Gothic';
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: -1px;
  vertical-align: top;
}
.searchList li svg {
  position: absolute;
  padding-top: 5px;
  margin-left: 2px;
  width: 20px;
  height: 25px;
  fill: #5a6674;
}
.searchList li p {
  padding-left: 30px;
}

/*.searchList{*/
/*  display:inline-block;*/
/*  position:relative;*/
/*  width:241px;*/
/*  margin-top:5px;*/
/*  font-family:Dotum;*/
/*  vertical-align:top*/
/*}*/
/*.searchList li{*/
/*  display:block;*/
/*  position:relative;*/
/*  width:241px;*/
/*  font-size:12px}*/
/*.searchList li p{*/
/*  display:block;*/
/*  width:194px;*/
/*  height:23px;*/
/*  padding-left:47px;*/
/*  color:#727272;*/
/*  line-height:1.9;*/
/*  vertical-align:top*/
/*}*/
/*.srch_location .srch_wp .srch_box .srch_lst li a:hover,*/
/*.srch_location .srch_wp .srch_box .srch_lst li a.on{background:#ffe8e8}*/